Django>=5.0,<6.0
django-cors-headers
djangorestframework
groq
httpx
pydantic
python-dotenv
dj-database-url
psycopg2-binary
requests
sqlparse
pandas>=2.0.0,<3.0.0
openpyxl
whitenoise
gunicorn
pypdf
imageio-ffmpeg